name: auto_rich_text
description: A high-performance auto-parsing rich text widget inspired by game engines. Supports tags for style, icons, images, and gradients.
version: 1.0.0+1
homepage: https://github.com/LimeVista/auto_rich_text
repository: https://github.com/limevista/auto_rich_text

environment:
  sdk: '>=3.6.0 <4.0.0'
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ">=4.0.0 <8.0.0"
  collection: ^1.18.0