name: auto_rich_text
description: "Auto Rich Text."
version: 0.9.0
homepage: https://github.com/LimeVista/auto_rich_text

environment:
  sdk: '>=3.6.0 <4.0.0'
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ">=4.0.0 <8.0.0"